<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Teste</title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='css/menu.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='css/calculadora.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <!-- Menu -->
    <div class="sidebar">
      <a href="#" id="calculadora"><i class="fa fa-fw fa-calculator"></i> CALCULADORA</a>
      <a href="logs" id="logs"><i class="fa fa-fw fa-file"></i> VER LOGS</a>
    </div>

    <!-- Área calculadora -->
    <div class="main">
      <div class="calculadora">
        <h1>CALCULADORA</h1>
        <form action="">
          
        </form>
      </div>
    </div>

  </body>
</html>